//====================================
// COLORS
//====================================

$color-primary: #0E9CC2;
$color-primary-dark: #007A9A;

$color-accent: #13B8B2;

$color-title: #112B45;
$color-text: #5C6B7A;
$color-gray: #34393d;

$color-text-light: #858e97;

$color-white: #FFFFFF;
$color-light: #F7FAFC;

$color-border: #E8EEF3;

$color-success: #00B67A;
$color-error: #E74C3C;


//====================================
// CONTAINER
//====================================

$container: 1340px;


//====================================
// RADIUS
//====================================

$radius-sm: 8px;
$radius-md: 14px;
$radius-lg: 24px;
$radius-xl: 40px;
$radius-round: 999px;


//====================================
// SHADOW
//====================================

$shadow-sm: 0 5px 18px rgba(16,35,62,.05);

$shadow-md: 0 12px 40px rgba(16,35,62,.08);

$shadow-lg: 0 20px 60px rgba(16,35,62,.12);


//====================================
// TRANSITION
//====================================

$transition: .3s ease;